@{
    ViewBag.Title = "About";
}
<h2>Own Your Day</h2>
<h3>@ViewBag.Message</h3>

<p>This website connects people with an opportunity to own their lifestyle. The target audience includes families and individuals from diverse lifestyles. The reason for this community is to disrupt the mindset of work to enjoy retirement and enable people to enjoy life while working.</p>
