@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jasondavis925@gmail.com">jasondavis925@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ironware@outlook.com">ironware@outlook.com</a>
</address>